.sensor-ds18b20 {
    background-color: white;
    width: 30%;
    height: auto;
    margin-left: 6%;
    border-radius: 15px;
    box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.2);
}

.sensor-dhtc11 {
    background-color: white;
    width: 50%;
    height: auto;
    margin-right: 6%;
    padding-bottom: 20px;
    border-radius: 15px;
    box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.2);
}

.no-sensor {
    background-color: white;
    width: 80%;
    height: auto;
    border-radius: 15px;
    box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    padding-top: 30px;
    color: black;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.image-value {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-value img {
    width: 90px;
}

.sensor-value {
    text-align: center;
    color: black;
    font-size: 60px;
    margin: 40px 0px 40px;
    font-size: 50px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sensor-description {
    text-align: center;
    padding: 0 10px;
    color: black;
    font-size: 20px;
    margin-top:50px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sensors-area {
    display: flex;
    justify-content: space-between;
    height: auto;
    padding-bottom: 10px;
}

.humidity {
    background-color: rgb(230, 230, 230);
    border-radius: 15px;
    width: 40%;
    margin-left: 6%;
}

.temperature {
    background-color: rgb(230, 230, 230);
    border-radius: 15px;
    width: 40%;
    margin-right: 6%;
}