.switcher {
	display: flex;
    justify-content: center;
    align-items: center;
	height: fit-content;
    width: fit-content;
    border-radius: 15px;
	margin-left: 10px;
    background-color: rgb(124, 124, 124);
}

.switcher-item {
	padding: 6px 8px;
	font-size: 14px;
	color: #171b2e;
    background-color: #ffffff;
	margin: 10px;
	border-radius: 3px;
}

.switcher-item:hover {
	background-color: #b9b9b7;
}

.switcher-active-item {
	cursor: default;
	color: #f2f3f5;
	background-color: #1a1a1a;
}

.switcher-active-item,
.switcher-active-item:hover {
    color: #f2f3f5;
	background-color: #1a1a1a;
}